<form th:action="@{'/cadastro/hospede/create'}" method="POST">
	<div class="mb-3">
		<label for="InputName" class="form-label">Nome</label> <input
			type="text" class="form-control" id="InputName">
	</div>
	<div class="mb-3">
		<label for="InputCpf" class="form-label">CPF</label> <input
			type="number" class="form-control" id="InputCpf">
	</div>
	<div class="mb-3">
		<label for="InputCnpj" class="form-label">CNPJ</label> <input
			type="number" class="form-control" id="InputCnpj">
	</div>
	<div class="mb-3">
		<label for="InputPhone" class="form-label">Número celular</label> <input
			type="text" class="form-control" id="InputPhone">
	</div>
	<div class="mb-3">
		<label for="InputValorAPagar" class="form-label">ValorTotal</label> <input
			type="number" class="form-control" id="InputValorAPagar">
	</div>
	<div class="mb-3">
		<label for="InputEntrada" class="form-label">Entrada</label> <input
			type="text" class="form-control" id="InputEntrada">
	</div>
	<div class="card mb-3">
		<div class="card-header">
			<span>De onde vem</span>
		</div>
		<div class="card-body">
			<div>
				<span>De onde vem</span>
				<div class="mb-3">
					<div id="inputCidadeVem" class="form-text">Estado civil</div>
					<select class="form-select" aria-label="categoria">
						<option selected>Selecione</option>
						<option value="Dianópolis">Dianópolis</option>
					</select>
				</div>
				<div class="mb-3">
					<div id="inputUfvem" class="form-text">Estado civil</div>
					<select class="form-select" aria-label="categoria">
						<option selected>Selecione</option>
						<option value="TO">Tocantins</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<span>Pra onde vai</span>
		</div>
		<div class="card-body">
			<div class="mb-3">
				<div id="inputCidadeVai" class="form-text">Estado civil</div>
				<select class="form-select" aria-label="categoria">
					<option selected>Selecione</option>
					<option value="Dianópolis">Dianópolis</option>
				</select>
			</div>
			<div class="mb-3">
				<div id="inputUfvai" class="form-text">Estado civil</div>
				<select class="form-select" aria-label="categoria">
					<option selected>Selecione</option>
					<option value="TO">Tocantins</option>
				</select>
			</div>
		</div>
	</div>

	<div class="mb-3">
		<div id="estadocivil" class="form-text">Estado civil</div>
		<select class="form-select" aria-label="categoria">
			<option selected>Selecione</option>
			<option value="solteiro(a)">Solteiro(a)</option>
			<option value="casado(a)">Casado(a)</option>
			<option value="viuvo(a)">Viuvo(a)</option>
		</select>
	</div>

	<button type="submit" class="btn btn-primary">Cadastrar</button>
</form>