<form th:action="@{/cadastro/hospede/create}"
	th:object="${hospedeModel}" method="POST">

	<div class="card mb-2">
		<div class="card-header">
			<span>Informações</span>
		</div>
		<div class="card-body">
			<div class="mb-3">
				<label for="nome" class="form-label">Nome</label> <input type="text"
					name="nome" class="form-control" id="nome">
			</div>
			<div class="mb-3">
				<label for="cpf" class="form-label">CPF</label> <input type="number"
					name="cpf" class="form-control" id="cpf" value="0">
			</div>
			<div class="mb-3">
				<label for="cnpj" class="form-label">CNPJ</label> <input
					type="number" name="cnpj" class="form-control" id="cnpj" value="0">
			</div>
			<div class="mb-3">
				<label for="phone" class="form-label">Número celular</label> <input
					type="text" name="phone" class="form-control" id="phone">
			</div>
			<div class="mb-3">
				<label for="valorAPagar" class="form-label">ValorTotal</label> <input
					type="number" name="valorAPagar" class="form-control"
					id="valorAPagar" value="0">
			</div>

			<div class="mb-3">
				
				<label id="estadoCivil" class="form-label">Estado civil</label>
				<select class="form-select" name="estadoCivil"
					aria-label="categoria">
					<option selected>Selecione</option>
					<option value="solteiro(a)">Solteiro(a)</option>
					<option value="casado(a)">Casado(a)</option>
					<option value="viuvo(a)">Viuvo(a)</option>
				</select>
			</div>
		</div>



	</div>

	<div class="card mb-2">
		<div class="card-header">
			<label for="Entrada" class="form-label">Entrada<br>
			</label>
		</div>
		<div class="card-body">

			<div class="mb-3">

				<div>
					<input type="date" name="entrada" id="entrada">
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-2">
		<div class="card-header">
			<span>De onde vem</span>
		</div>
		<div class="card-body">
			<div>
				<div class="mb-3">
					<div id="vemCidade" class="form-text">Cidade</div>
					<select class="form-select" name="vemCidade" aria-label="categoria">
						<option selected>Selecione</option>
						<option value="Dianópolis">Dianópolis</option>
					</select>
				</div>
				<div class="mb-3">
					<div id="vemUF" class="form-text">Estado</div>
					<select class="form-select" name="vemUF" aria-label="categoria">
						<option selected>Selecione</option>
						<option value="TO">Tocantins</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-3">
		<div class="card-header">
			<span>Pra onde vai</span>
		</div>
		<div class="card-body">
			<div class="mb-3">
				<div id="destinoCidade" class="form-text">Cidade</div>
				<select class="form-select" name="destinoCidade"
					aria-label="categoria">
					<option selected>Selecione</option>
					<option value="Dianópolis">Dianópolis</option>
				</select>
			</div>
			<div class="mb-3">
				<div id="destinoUf" class="form-text">Estado</div>
				<select class="form-select" name="destinoUf" aria-label="categoria">
					<option selected>Selecione</option>
					<option value="TO">Tocantins</option>
				</select>
			</div>
		</div>
	</div>



	<button type="submit" class="btn btn-primary">Cadastrar</button>
</form>